body{
  text-align: center;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}
header{
  background-color: #00FFE8;
  justify-content: space-between;
  padding: 25px;
  display: flex;
  align-items: center;
}
h1{
  color: black;
  font-family: inherit;
}
h2{
  color: #00FFE8;
}
.add{
  color: white;
  display: grid;
  gap: 10px;
  display: flex;
  align-items: center;
}
.info{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoImage{
  background-image: url(./img/pcgamer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 639px;
  width: 639px;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



/* Botones */
a {
  padding: 0.4em 0.9em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: black;
  text-decoration: none;
  margin-left: 10PX;
 }
 
a:hover::before {
  width: 105%;
 }
 
a:hover {
  color: #00FFE8;
  background: black;
 }

a:active {
  transform: scale(1.50);
 } 
.container{
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 100px;
}


 /* Cards */
.card{
  background-color: #00FFE8;
  width: 225px;
  box-shadow: 0px 0px 5px 5px #00FFE8;
  padding-bottom: 10px;
  transition: all 300ms;
  opacity: 0.9;
}
.card-img {
  width: 100%;
  border-radius: .8rem;
  transition: .3s ease;
 }
 .card:hover {
  transform: scale(1.10);
  transition: all 500ms;
 }

.image{
  background-image: url(./img/pcgamer.jpg);
  background-size: cover;
  background-position-y: -30px;
  height: 10rem;
  display: flex;
  justify-content: center;
 }
 .objet1{
  color: white;
  align-items: flex-start;
  position: relative;
  bottom: 25px;
  height: 35px;
 }
 .objet2{
  align-self: flex-end;
  color: white;
  position: relative;
  top: 20px;
 }


/*Buttons*/
.card-button {
  border: 1px solid #00FFE8;
  padding: .5em;
  cursor: pointer;
  background-color: black;
  color: #00FFE8;
  font-size: 1rem;
}
.card-button:hover {
  border: 1px solid black;
  background-color: #00FFE8;
  color: black;
}


 /*Loader*/
.loader {
  width: 25em;
  height: 25em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 200px;
}
.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 2s linear infinite;
}
.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: #17C3B2;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}
.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}
.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}
@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}