body{
  text-align: center;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}
header{
  background-color: #00b9ae;
  justify-content: space-between;
  padding: 25px;
  display: flex;
  align-items: center;
}
h2{
  color: #00b9ae;
}
p{
  color: #00b9ae;
}
.image{
  height: 200px;
}
.add{
  color: white;
  display: grid;
  gap: 10px;
  display: flex;
  align-items: center;
}
.info{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoImage{
  background-image: url(./img/pcgamer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 639px;
  width: 639px;
}



/* Botones */
a {
  padding: 0.4em 0.9em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: black;
  text-decoration: none;
  margin-left: 10PX;
 }
a:hover::before {
  width: 105%;
 }
a:hover {
  color: #00FFE8;
  background: black;
 }
a:active {
  transform: scale(1.50);
 } 


.container{
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 100px;
}


 /* Cards */
.cards{
  display: flex;
  background-color: white; 
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  padding: 0.5em;
  width: 400px;
 }
.card {
  --height: 210px;
  --primary: #00b9ae;
  --text: #f9f9f9b2;
  --secondary: #f9f9f933;
  --radius: 20px;
  color: #fff;
  background-color: white;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.card .card__title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
}
.rating {
  margin: 0%;
  margin-top: 0.5em;
  width: 85px;
  height: 16px;
  background-image: url("data:image/svg+xml,%20%3Csvg%0A%20%20%20%20%20%20%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20%20%20%20%20%20%20%20width%3D%2217%22%0A%20%20%20%20%20%20%20%20%20%20height%3D%2217%22%0A%20%20%20%20%20%20%20%20%20%20viewBox%3D%220%200%2017%2017%22%0A%20%20%20%20%20%20%20%20%20%20fill%3D%22none%22%0A%20%20%20%20%20%20%20%20%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M8.51948%201.625C9.1214%201.625%2010.0427%204.16625%2010.4636%205.43013C10.6014%205.8437%2010.9837%206.13054%2011.4192%206.14904C12.7373%206.20505%2015.375%206.39722%2015.375%207.0384C15.375%207.66696%2013.5161%209.17543%2012.5322%209.92976C12.1816%2010.1986%2012.0365%2010.6604%2012.1687%2011.082C12.5631%2012.34%2013.2755%2014.8755%2012.7573%2015.3009C12.2506%2015.717%2010.2147%2014.2326%209.15246%2013.4009C8.77021%2013.1016%208.22949%2013.1012%207.84719%2013.4004C6.78473%2014.2321%204.75246%2015.717%204.28166%2015.3009C3.79912%2014.8745%204.47615%2012.3275%204.84741%2011.0727C4.97086%2010.6555%204.82425%2010.2029%204.47885%209.93826C3.49798%209.18681%201.625%207.66933%201.625%207.0384C1.625%206.3962%204.2711%206.20444%205.5871%206.14878C6.0197%206.13048%206.3998%205.84769%206.53973%205.43793C6.97041%204.17673%207.91633%201.625%208.51948%201.625Z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3D%22%2300B9AE%22%0A%20%20%20%20%20%20%20%20%20%20%20%20stroke%3D%22%2300B9AE%22%0A%20%20%20%20%20%20%20%20%20%20%20%20stroke-width%3D%222%22%0A%20%20%20%20%20%20%20%20%20%20%20%20stroke-linecap%3D%22round%22%0A%20%20%20%20%20%20%20%20%20%20%20%20stroke-linejoin%3D%22round%22%0A%20%20%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fsvg%3E");
  background-repeat: space;
}
.card .card__info {
  display: flex;
  margin-top: auto;
  font-size: 0.8rem;
  color: var(--text);
  font-weight: 400;
  justify-content: space-between;
}
.card .card__btns {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.card button {
  border: none;
  background: none;
  cursor: pointer;
  background: var(--primary);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}
.card button:hover {
  opacity: 0.8;
  transform: scale(0.9);
}
.card .add-btn {
  color: #fff;
  padding: 0.5em 0.8em;
  border-radius: 14px;
}
.card .watch-btn {
  flex: 1;
}



 /*Loader*/
.loader {
  width: 25em;
  height: 25em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 200px;
}
.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 2s linear infinite;
}
.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: #17C3B2;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}
.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}
.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}
@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}